<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhil.asn_attendance_manager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".asn.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".asn.SubjectList"></activity>
        <activity android:name=".asn.FeedTimetable"></activity>
        <activity android:name=".asn.SlotDialog"></activity>
        <activity android:name=".asn.StartDate"></activity>
        <activity android:name=".asn.MainTimeTable"></activity>
        <activity android:name=".asn.Stats"></activity>
        <activity android:name=".asn.NewOrImport"></activity>
        <activity android:name=".asn.About"></activity>
        <activity android:name=".asn.DaysTab"></activity>
    </application>

</manifest>